<div>
  <select>
    <option *ngFor="let tier of tiers" value='{{tier}}'>
      T{{tier}}
    </option>
</select>
</div>
<div>
  <select [(ngModel)]='selectedItem' (ngModelChange)="onChange($event)">
  <option *ngFor="let item of  items" [ngValue]="item" >
    {{item.label}}
  </option>
</select>
</div>
<div *ngIf="selectedItem">
  <label>Item Count</label>
  <input type="number" [(ngModel)]="itemCount"/>
  <div *ngIf="selectedItem.materialOne != null">
    <label>Material 1 Cost</label>
    <input type="number" [(ngModel)]="materialOne.cost"> x {{materialOne.count * itemCount}}
  </div>
  <div *ngIf="selectedItem.materialTwo != null">
    <label>Material 2 Cost</label>
    <input type="number" [(ngModel)]="materialTwo.cost"> x {{materialTwo.count * itemCount}}
  </div>
  <div *ngIf="selectedItem.artifact != null">
    <label>Artifact Cost</label>
    <input type="number" [(ngModel)]="artifact"> x {{itemCount}}
  </div>
  <div>Total cost = {{totalCost()}}</div>
  <div>
    <label>Sell Price</label>
    <input type="number" [(ngModel)]="sellPrice"> {{sellPrice * (1-Tax)}} after {{Tax * 100}}% Tax
  </div>
  <div>Total Return after {{Tax * 100}}% tax = {{totalReturn() | floor}}</div>

  <div>Material One Needed: {{getMinMaterialCount(materialOne.count, (1/NoFocusCoef)) | ceil}} ({{getMinMaterialCount(materialOne.count, (1/FocusCoef)) | ceil}})</div>
  <div>Extra after crafting: {{getExtraMaterials(materialOne.count, (1/NoFocusCoef)) | floor}} ({{getExtraMaterials(materialOne.count, (1/FocusCoef)) | floor}})</div>
  
  <div>Material Two Needed: {{getMinMaterialCount(materialTwo.count, (1/NoFocusCoef)) | ceil}} ({{getMinMaterialCount(materialTwo.count, (1/FocusCoef)) | ceil}})</div>
  <div>Extra after crafting: {{getExtraMaterials(materialTwo.count, (1/NoFocusCoef)) | floor}} ({{getExtraMaterials(materialTwo.count, (1/FocusCoef)) | floor}})</div>
  
  <div>Total Cost: {{totalCost(1/NoFocusCoef) | ceil}} ({{totalCost(1/FocusCoef) | ceil}})</div>
    
  <div>Total Profit: {{totalReturn() - totalCost(1/NoFocusCoef) | floor}} ({{totalReturn() - totalCost(1/FocusCoef) | floor}})</div>

</div>